<div class="mt-12 flex flex-col items-center">
    <!-- section 1 -->
    <h2
            class="mt-16 text-xl font-bold underline hover:text-blue-600 hover:underline-offset-2"
    >
        Trending Tenders
    </h2>
    <div class="mt-12 grid lg:grid-cols-2 lg:gap-6 xl:grid-cols-3 xl:gap-8">
        <!--            card 1-->
        <div
                class="mt-6 max-w-sm rounded-lg border border-gray-200 bg-white shadow-md dark:border-gray-700 dark:bg-gray-800"
        >
            <a href="#">
                <img class="rounded-t-lg" src="<%= image_path 'bhel.jpg' %>" alt="" />
            </a>
            <div class="p-5">
                <a href="#">
                    <h5
                            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                    >
                        Bharat Electronics Limited (BEL)
                    </h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                    Find more Bharat Electronics Limited (BEL) tenders
                </p>
                <a
                        href="#"
                        class="inline-flex items-center rounded-lg bg-blue-700 px-3 py-2 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >
                    More tenders
                    <svg
                            aria-hidden="true"
                            class="ml-2 -mr-1 h-4 w-4"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                                fill-rule="evenodd"
                                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                clip-rule="evenodd"
                        ></path>
                    </svg>
                </a>
            </div>
        </div>
        <!--            card 1-->
        <div
                class="mt-6 max-w-sm rounded-lg border border-gray-200 bg-white shadow-md dark:border-gray-700 dark:bg-gray-800"
        >
            <a href="#">
                <img class="rounded-t-lg" src="<%= image_path 'bhel.jpg' %>" alt="" />
            </a>
            <div class="p-5">
                <a href="#">
                    <h5
                            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                    >
                        Bharat Electronics Limited (BEL)
                    </h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                    Find more Bharat Electronics Limited (BEL) tenders
                </p>
                <a
                        href="#"
                        class="inline-flex items-center rounded-lg bg-blue-700 px-3 py-2 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >
                    More tenders
                    <svg
                            aria-hidden="true"
                            class="ml-2 -mr-1 h-4 w-4"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                                fill-rule="evenodd"
                                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                clip-rule="evenodd"
                        ></path>
                    </svg>
                </a>
            </div>
        </div>

        <!--            card 1-->
        <div
                class="mt-6 max-w-sm rounded-lg border border-gray-200 bg-white shadow-md dark:border-gray-700 dark:bg-gray-800"
        >
            <a href="#">
                <img class="rounded-t-lg" src="<%= image_path 'bhel.jpg' %>" alt="" />
            </a>
            <div class="p-5">
                <a href="#">
                    <h5
                            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                    >
                        Bharat Electronics Limited (BEL)
                    </h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                    Find more Bharat Electronics Limited (BEL) tenders
                </p>
                <a
                        href="#"
                        class="inline-flex items-center rounded-lg bg-blue-700 px-3 py-2 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >
                    More tenders
                    <svg
                            aria-hidden="true"
                            class="ml-2 -mr-1 h-4 w-4"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                                fill-rule="evenodd"
                                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                clip-rule="evenodd"
                        ></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>

    <!-- section 2 -->
    <div class="mt-12 flex flex-col items-center">
        <h2
                class="mt-16 text-xl font-bold underline hover:text-blue-600 hover:underline-offset-2"
        >
            Tender By States
        </h2>
        <div class="mt-12 grid lg:grid-cols-2 lg:gap-6 xl:grid-cols-3 xl:gap-8">
            <!--            card 1-->
            <div
                    class="mt-6 max-w-sm rounded-lg border border-gray-200 bg-white shadow-md dark:border-gray-700 dark:bg-gray-800"
            >
                <a href="#">
                    <img class="rounded-t-lg" src="<%= image_path 'bhel.jpg' %>" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5
                                class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                        >
                            Bharat Electronics Limited (BEL)
                        </h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                        Find more Bharat Electronics Limited (BEL) tenders
                    </p>
                    <a
                            href="#"
                            class="inline-flex items-center rounded-lg bg-blue-700 px-3 py-2 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                    >
                        More tenders
                        <svg
                                aria-hidden="true"
                                class="ml-2 -mr-1 h-4 w-4"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                    fill-rule="evenodd"
                                    d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                    clip-rule="evenodd"
                            ></path>
                        </svg>
                    </a>
                </div>
            </div>
            <!--            card 1-->
            <div
                    class="mt-6 max-w-sm rounded-lg border border-gray-200 bg-white shadow-md dark:border-gray-700 dark:bg-gray-800"
            >
                <a href="#">
                    <img class="rounded-t-lg" src="<%= image_path 'bhel.jpg' %>" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5
                                class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                        >
                            Bharat Electronics Limited (BEL)
                        </h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                        Find more Bharat Electronics Limited (BEL) tenders
                    </p>
                    <a
                            href="#"
                            class="inline-flex items-center rounded-lg bg-blue-700 px-3 py-2 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                    >
                        More tenders
                        <svg
                                aria-hidden="true"
                                class="ml-2 -mr-1 h-4 w-4"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                    fill-rule="evenodd"
                                    d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                    clip-rule="evenodd"
                            ></path>
                        </svg>
                    </a>
                </div>
            </div>

            <!--            card 1-->
            <div
                    class="mt-6 max-w-sm rounded-lg border border-gray-200 bg-white shadow-md dark:border-gray-700 dark:bg-gray-800"
            >
                <a href="#">
                    <img class="rounded-t-lg" src="<%= image_path 'bhel.jpg' %>" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5
                                class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                        >
                            Bharat Electronics Limited (BEL)
                        </h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                        Find more Bharat Electronics Limited (BEL) tenders
                    </p>
                    <a
                            href="#"
                            class="inline-flex items-center rounded-lg bg-blue-700 px-3 py-2 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                    >
                        More tenders
                        <svg
                                aria-hidden="true"
                                class="ml-2 -mr-1 h-4 w-4"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                    fill-rule="evenodd"
                                    d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                    clip-rule="evenodd"
                            ></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- section 2 -->
<section>
    <div class="mt-12 flex flex-col items-center">
        <h2
                class="mt-16 text-xl font-bold underline hover:text-blue-600 hover:underline-offset-2"
        >
            Tender By States
        </h2>
        <div class="mt-12 grid lg:grid-cols-2 lg:gap-6 xl:grid-cols-3 xl:gap-8">
            <!--            card 1-->
            <div
                    class="mt-6 max-w-sm rounded-lg border border-gray-200 bg-white shadow-md dark:border-gray-700 dark:bg-gray-800"
            >
                <a href="#">
                    <img class="rounded-t-lg" src="<%= image_path 'bhel.jpg' %>" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5
                                class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                        >
                            Bharat Electronics Limited (BEL)
                        </h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                        Find more Bharat Electronics Limited (BEL) tenders
                    </p>
                    <a
                            href="#"
                            class="inline-flex items-center rounded-lg bg-blue-700 px-3 py-2 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                    >
                        More tenders
                        <svg
                                aria-hidden="true"
                                class="ml-2 -mr-1 h-4 w-4"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                    fill-rule="evenodd"
                                    d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                    clip-rule="evenodd"
                            ></path>
                        </svg>
                    </a>
                </div>
            </div>
            <!--            card 1-->
            <div
                    class="mt-6 max-w-sm rounded-lg border border-gray-200 bg-white shadow-md dark:border-gray-700 dark:bg-gray-800"
            >
                <a href="#">
                    <img class="rounded-t-lg" src="<%= image_path 'bhel.jpg' %>" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5
                                class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                        >
                            Bharat Electronics Limited (BEL)
                        </h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                        Find more Bharat Electronics Limited (BEL) tenders
                    </p>
                    <a
                            href="#"
                            class="inline-flex items-center rounded-lg bg-blue-700 px-3 py-2 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                    >
                        More tenders
                        <svg
                                aria-hidden="true"
                                class="ml-2 -mr-1 h-4 w-4"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                    fill-rule="evenodd"
                                    d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                    clip-rule="evenodd"
                            ></path>
                        </svg>
                    </a>
                </div>
            </div>

            <!--            card 1-->
            <div
                    class="mt-6 max-w-sm rounded-lg border border-gray-200 bg-white shadow-md dark:border-gray-700 dark:bg-gray-800"
            >
                <a href="#">
                    <img class="rounded-t-lg" src="<%= image_path 'bhel.jpg' %>" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5
                                class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                        >
                            Bharat Electronics Limited (BEL)
                        </h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                        Find more Bharat Electronics Limited (BEL) tenders
                    </p>
                    <a
                            href="#"
                            class="inline-flex items-center rounded-lg bg-blue-700 px-3 py-2 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                    >
                        More tenders
                        <svg
                                aria-hidden="true"
                                class="ml-2 -mr-1 h-4 w-4"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                    fill-rule="evenodd"
                                    d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                    clip-rule="evenodd"
                            ></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

