<%= render 'layouts/navbar' %>

<div class="">


  <div class="px-auto flex-col justify-center items-center mx-auto max-w-xl">
    <% if flash[:success].present? %>
      <p class="py-2 px-3 bg-green-50 my-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= flash[:success] %></p>
    <% end %>
<!--    <p class="py-2 px-3 bg-green-50 my-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%#= 's' %></p>-->


    <div class="mt-6">
      <!--      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfj0rlhPDSH5hlU-w3gXoOX259e3Vw-XVRbz6LO7a8EE6C8SA/viewform?embedded=true" width="600" height="1250" class="border-0 overflow-hidden relative" style="margin-left: -22px" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>-->
      <%= render 'get_relevant_tenders_form' %>
    </div>

  </div>

</div>
<%= render 'layouts/footer' %>

