<%= render 'layouts/navbar' %>

<div class="">

  <div class="px-auto flex-col justify-center items-center mx-auto max-w-xl">
    <p class="py-2 px-3 bg-green-50 my-5 text-green-500 font-medium rounded-lg inline-block" id="notice">Form Submitted
      Successfully</p>
    <div class="mt-6">
    </div>

  </div>

</div>
<%= render 'layouts/footer' %>

