
<div>
  <h2 class="text-2xl font-bold my-8 text-center">How to Signup & enable tenders notifications</h2>
  <div>
    <script src="https://fast.wistia.com/embed/medias/wv2w4s8j70.jsonp" async></script>
    <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
    <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
      <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
        <div class="wistia_embed wistia_async_wv2w4s8j70 seo=true videoFoam=true" style="height:100%;position:relative;width:100%">
          <div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
            <img src="https://fast.wistia.com/embed/medias/wv2w4s8j70/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">

<div>
  <h2 class="text-2xl font-bold my-8 text-center">How to search and view tenders</h2>
  <div>
    <script src="https://fast.wistia.com/embed/medias/b5ood40eq8.jsonp" async></script>
    <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
    <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
      <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
        <div class="wistia_embed wistia_async_b5ood40eq8 seo=true videoFoam=true" style="height:100%;position:relative;width:100%">
          <div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
            <img src="https://fast.wistia.com/embed/medias/b5ood40eq8/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
