<%= render 'layouts/navbar' %>

<div class="mx-8 my-12 lg:pt-2 xl:px-36">

  <div class="mt-12">
    <p class="font-bold">About Us</p>
    NGOtenders.in is a tender portal specifically designed for independent entrepreneurs/ Business houses/ industries and  non-government organizations (NGOs) participating in e-tendering and procurement processes to get Realtime notifications of potential opportunities for their enterprise . It provides a one stop platform for tenderers  to connect with potential projects, work orders, supplies and contracts.
    By offering a tailored solution for the unique procurement needs of entrepreneurs, NGOtenders.com can provide significant value to these organizations and position itself as a key player in the ecosystem of e-tendering & procurement industry. The portal can also offer various advanced features, such as online tendering, supplier management, collaboration tools, and mobile accessibility, to help NGOs efficiently manage their procurement processes.
  </div>
  <div class="mt-12 space-y-2">
    <p class="font-bold">Contacts & Communications</p>
    <p class="">Sigma Certification Services Private Limited</p>
    <p>310,Wadhwa Complex, D-288-289/10, Laxmi Nagar,<br>Vikas Marg, Delhi – 110092 India</p>
    <p>Email: tendermasterinfo@gmail.com</p>
  </div>

  <a href="https://docs.google.com/forms/d/1sk835o7uoufAuJyMvAg7g60fzNoG2qeFZmuBXgf_xIo/viewform" target="_blank" class="inline-block mt-8 underline underline-offset-2 px-3 py-4 text-white bg-orange-400 rounded-lg">Contact Us</a>
  <a href="https://forms.gle/JsH87J5g7QoKpiHx9" target="_blank" class="inline-block mt-8 underline underline-offset-2 px-3 py-4 text-white bg-orange-400 rounded-lg">Pre- Launch Subscription</a>

</div>

<%= render 'layouts/footer' %>
