<%= render 'layouts/navbar' %>

<div class="container-home pt-20 space-y-4">
  <p>Disclaimer:</p>
  <p> While we strive to provide precise and genuine information about tenders, we urge users to consult the original source of tender notices and documents published by the tender issuing agency before making any decisions about a particular tender.</p>
</div>


<%= render 'layouts/footer' %>


