<%= render 'layouts/navbar' %>

<div class="flex justify-center">

  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdSzv6sRYrJuiwLB1wQCdVSZ6x-H1QiHLl6oDA1-H4KZDMFow/viewform?embedded=true" width="640" height="1000" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

</div>

<%= render 'layouts/footer' %>
