<%= render 'layouts/navbar' %>

<div class="flex justify-center">

  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdeRJdaGtcbIhz2TlTwpU_wIkR3h1CQwjw9T7oGazn8eTXsMQ/viewform?embedded=true" width="90%" height="680" scrolling="no" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>

<%= render 'layouts/footer' %>
