<%= render 'layouts/navbar' %>

<div class="container">

  <h1 class="text-2xl font-bold text-orange-500">Discover how our tender portal can meet your business needs - learn how to effectively navigate and utilize this
    platform</h1>

<!--  <div class="w-32 h-32 bg-orange-500">a</div>-->
  <hr class="pt-8">
  <div class="space-y-6">

    <p class="border-b-2 text-orange-500">Step-1</p>
    Register/ Signup on the tender portal <a href="<%= new_user_registration_path %>" class="link">sigmatenders.com</a> To access various advanced valuable features of the
    tender portal, you need to register yourself as a subscriber.
    <p class="border-b-2 text-orange-500">Step-2</p>
    search Tenders, once you have registered on the portal, you can search for the relevant tenders based on your business
    needs/domain, turnover, capabilities, location, and other criteria.
    <p class="border-b-2 text-orange-500">Step-3</p>
    Analyse the tender documents thoroughly and understand the scope of work, timelines, evaluation criteria, and terms
    and conditions. Ensure that you meet all the eligibility criteria and have the necessary resources to execute the
    project.
    <p class="border-b-2 text-orange-500">Step-4</p>
    Visit the official Publisher of the tender as per the official link shown in the search result and locate the official
    tender link as per the tender id/ tender reference not shown in the search result. Here again you need to register
    your company as a bidder, with a valid class 3 tender class DSC (Digital signature certificate)
    <p class="border-b-2 text-orange-500">Step-5</p>
    Prepare and submit the bid accordingly. This includes providing all the necessary documents and filling out the bid
    form. Ensure that you comply with all the terms and conditions mentioned in the tender documents.
    <p class="border-b-2 text-orange-500">Step-6</p>
    Monitor the tender process: After submitting the bid, monitor the tender process regularly. This includes checking the
    portal for any updates or amendments to the tender documents and attending any pre-bid meetings or site visits.
    <p class="border-b-2 text-orange-500">Step-7</p>
    Participate in the bid opening: On the day of the bid opening, participate in the process either in person or through
    a video conference. This will give you an idea of your competition and the bid price range.
    <p class="border-b-2 text-orange-500">Step-8</p>
    Follow up with the tendering authority: After the bid opening, follow up with the tendering authority to know the
    status of your bid. If your bid is successful, you can proceed with the next steps as per the tender documents.
    <p class="border-b-2 text-orange-500">Step-9</p>
    If you need support services* you may contact us:
    <a href="<%= get_callback_path %>" class="btn-sm block mt-6 w-fit">Get Assistance</a>
  </div>
</div>

<%= render 'layouts/footer' %>
