<%= render 'layouts/navbar' %>

<div class="flex flex-col items-center w-full h-full">

  <div class="h-full mb-4 mt-12">
    <a class="btn-primary" href="https://drive.google.com/file/d/1x0V_sLWJviCHoFY8iL_NQKQdHfDGjJ1Q/view" target="_blank">Partner Ship Form</a>
  </div>

  <div class="h-full">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdGeiZ5jsc68CHf3k_AZd3hAM2dJfvpDg-RohQ7Fu2fQAH6WA/viewform?embedded=true" frameborder="0" style="overflow:hidden"  height="4800px" width="640"></iframe>
  </div>

</div>

<%= render 'layouts/footer' %>
