<%= render 'layouts/navbar' %>

<div class="flex flex-col items-center w-full h-full">

  <div class="h-full mb-4 mt-12 w-full flex justify-center">
    <!--    <a class="btn-primary" href="https://drive.google.com/file/d/1x0V_sLWJviCHoFY8iL_NQKQdHfDGjJ1Q/view" target="_blank">Partner Ship Form</a>-->

    <embed src="https://assets.sigmatenders.com/v2%20Partnership%20offer%20from%20sigmatenders.pdf" width="80%" height="1200"
           type="application/pdf">

  </div>

  <div class="h-full">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdGeiZ5jsc68CHf3k_AZd3hAM2dJfvpDg-RohQ7Fu2fQAH6WA/viewform?embedded=true" frameborder="0" style="overflow:hidden" height="4800px" width="640"></iframe>
  </div>

</div>

<%= render 'layouts/footer' %>
