<%= render 'layouts/navbar' %>

<div class="container-home refund-policy pt-20 space-y-4">
  <div class="text-center mb-8">
    <p class="font-bold text-xl mb-6">Pricing</p>
    <p>Services Offered</p>
    <p>Business Support Services & Subscriptions</p></div>
  <p class="font-bold">Details of Business Services</p>
  <ul class="space-y-1 list-disc list-inside">
    <li>B2B (Business-to-Business) Services: Providing services to businesses to help them participate in tender
      processes and manage the bidding process effectively.
    </li>
    <li>B2G (Business-to-Government) Services: Providing services to government organizations to manage the tender
      process, including the publishing of tender notices, and receiving bids.
    </li>
    <li>Subscription-based Model: Offering paid subscriptions to independent entrepreneurs, businesses, industries,
      schools, colleges, Institutions, universities, NGOs, traders, suppliers, professionals, and government
      organizations to access the tender portal and its features.
    </li>
    <li>Baseline surveys/ Market research and Data Analytics: Using data analytics to provide valuable insights to
      businesses and government organizations on tender processes and trends.
    </li>
    <li>Business set up and professional support services for meeting various compliances</li>
    <li>Digital signature certificates (DSC) solutions</li>
    <li>Networking with business houses for contracts and subcontracts</li>
  </ul>

  <p class="font-bold">Paid Subscription services</p>
  <ul class="space-y-1 list-disc">
    <ol class="space-y-1 list-disc">
      <li>1. Standard Subscription
        <ul class="space-y-1 list-disc ml-6">
          <li>Annual Package: Access to the portal's comprehensive features and services for a year.</li>
          <li>Price: Rs.5,999/- per year.
            <a href="https://sigmatenders.com/get-callback" class="underline underline-offset-2 text-orange-600">sigmatenders.com/get-callback</a>
          </li>
        </ul>
      </li>
      <li>2. Privileged Subscriptions
        <ul class="space-y-1 list-disc ml-6">
          <li>Promotional Coupons: Exclusive access offered to specific groups, including startups, NGOs, CSR companies
            and donors engaged in our social campaign & charities listed. Duration: 12 months of free access***. Upon
            successful signups & supports confirmation by Empanelled partner NGOs onboarded on a drive supported by
            sigmatenders.com. for further details and offers visit:
            <a href="https://trustngoprojects.org/tech-gap/" class="underline underline-offset-2 text-orange-600">trustngoprojects.org/tech-gap</a>
            or
            <a href="https://sigmatenders.com/get-callback" class="underline underline-offset-2 text-orange-600">sigmatenders.com/get-callback</a>
            <ul class="space-y-1 list-disc ml-6">
              <li>Redemption: These privileged groups can redeem special coupons provided by our campaign to avail
                themselves of this extended access.
              </li>
            </ul>
          </li>
          <li>
            Free Trial Offers for 30 days: Limited-time free access for one month.
            <a href="https://forms.gle/2VZ4CvvcrtuvAgrB9" class="underline underline-offset-2 text-orange-600">form</a>
            Or Request for access code at: Email: tendermasterinfo@gmail.com
            <ul class="space-y-1 list-disc ml-6">
              <li>Eligibility: Available for individuals or organizations interested in testing the platform.</li>
              <li>Purpose: Allows users to experience the platform's functionality before subscribing.</li>
            </ul>
          </li>
        </ul>
      </li>
    </ol>

  </ul>
  <p>Custom Support Services as mutual Agreed terms & Charges. contact:</p>
  <p>tendermasterinfo@gmail.com</p>
  <p>Sigma Certification Services Pvt Limited</p>
  <p>310, Wadhwa Complex, D-288-289/10, Laxmi Nagar, Delhi – 110092 India</p>
  <div class="flex items-center">
    <p>For Sales Enquiry: </p>
    <a href="<%= get_callback_path %>" class="btn-sm block w-fit ml-4">Request a callback</a>
  </div>
</div>

<%= render 'layouts/footer' %>
