<%= render 'layouts/navbar' %>

<div class="container-home refund-policy pt-20 space-y-4">
  <p class="font-bold text-xl text-center mb-12">Cancellation and Refund Policy for SigmaTenders.com</p>

  <p>We strive to provide our customers with excellent customer service and reliable software. In the unlikely event that you are not completely satisfied with our service, we offer the following cancellation and refund policy:</p>

  <p class="font-bold">Cancellation Policy</p>

  <p>Customers may cancel their subscription at any time. The cancellation will take effect at the end of the current billing period. To cancel your subscription, please log in to your account and follow the instructions provided. If you have any questions or need assistance, please contact our customer service team.</p>

  <p class="font-bold">Refund Policy</p>

  <p>If you cancel your subscription within the first 3 days of signing up, we will provide you with a full refund. If you cancel your subscription after 3 days, no refunds will be issued, and you will have access to the service until the end of the billing period.</p>

  <p class="font-bold">Exceptions</p>

  <p>We may make exceptions to this policy in exceptional circumstances, such as technical issues that prevent you from using our service or if we are unable to provide the service as advertised. In such cases, we may issue a refund or credit to your account, at our discretion.</p>

  <p>We reserve the right to modify this policy at any time without notice. If you have any questions about our cancellation and refund policy, please contact us at tendermasterinfo@gmail.com .</p>

  <p>By using our software, you agree to the terms of this policy.</p>

</div>

<%= render 'layouts/footer' %>


