<%= render 'layouts/navbar' %>

<div class="mx-8 my-12 lg:pt-2 xl:px-36">
<ul class="mt-12">
  <li class="text-center text-lg text-orange-600">With the increasing digitization of government procurement processes and the need for transparency and efficiency, the demand for online tender portals has increased. significant scope for profit & growth to both service providers and the entrepreneurs too in finding various business opportunities. We offer following services to our valued clients:</li>
  <br>
  <li class="list-disc">B2B (Business-to-Business) Services: Providing services to businesses to help them participate in tender processes and manage the bidding process effectively.</li>
  <li class="list-disc">B2G (Business-to-Government) Services: Providing services to government organizations to manage the tender process, including the publishing of tender notices, and receiving bids.</li>
  <li class="list-disc">Subscription-based Model: Offering paid subscriptions to independent entrepreneurs, businesses, industries, schools, colleges, Institutions, universities, NGOs, traders, suppliers, professionals, and government organizations to access the tender portal and its features.</li>
  <li class="list-disc">Base line surveys/ Market research and Data Analytics: Using data analytics to provide valuable insights to businesses and government organizations on tender processes and trends.</li>
  <li class="list-disc">Business set up and professional support services for meeting various compliances</li>
  <li class="list-disc">Digital signature certificates (DSC) solutions</li>
  <li class="list-disc">Networking with business houses for contracts and subcontracts</li>
</ul>
  <a href="https://docs.google.com/forms/d/1sk835o7uoufAuJyMvAg7g60fzNoG2qeFZmuBXgf_xIo/viewform" target="_blank" class="inline-block mt-8 underline underline-offset-2 px-3 py-4 text-white bg-orange-400 rounded-lg">Contact Us</a>

</div>



<%= render 'layouts/footer' %>
