@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;


.pagy-nav,
.pagy-nav-js {
  @apply flex space-x-2;
}

.pagy-nav .page a,
.pagy-nav .page.active,
.pagy-nav .page.prev.disabled,
.pagy-nav .page.next.disabled,
.pagy-nav-js .page a,
.pagy-nav-js .page.active,
.pagy-nav-js .page.prev.disabled,
.pagy-nav-js .page.next.disabled {
  @apply block rounded-md px-3 py-2 text-sm font-semibold border border-gray-300 bg-white leading-tight text-gray-500 hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white;
  /*&:hover{*/
  /*  @apply bg-gray-300;*/
  /*}*/
  /*&:active{*/
  /*  @apply bg-gray-400 text-white;*/
  /*}*/
}

.pagy-nav .page.prev.disabled,
.pagy-nav .page.next.disabled,
.pagy-nav-js .page.prev.disabled,
.pagy-nav-js .page.next.disabled {
  @apply text-gray-400 cursor-default;
  /*&:hover {*/
  /*  @apply text-gray-400 bg-gray-200;*/
  /*}*/
  /*&:active {*/
  /*  @apply text-gray-400 bg-gray-200;*/
  /*}*/
}

.pagy-nav .page.active,
.pagy-nav-js .page.active {
  @apply cursor-default bg-orange-50 text-orange-600 hover:bg-orange-100 hover:text-orange-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white;
  /*&:hover {*/
  /*  @apply text-white bg-gray-400;*/
  /*}*/
  /*&:active {*/
  /*  @apply bg-gray-400 text-white;*/
  /*}*/
}


.pagy-combo-nav-js {
  @apply flex max-w-max rounded-full px-3 py-1 text-sm text-gray-500 font-semibold bg-gray-200 shadow-md;
}

.pagy-combo-nav-js .pagy-combo-input {
  @apply bg-white px-2 rounded-sm
}

.pagy-combo-nav-js .page.prev,
.pagy-combo-nav-js .page.next {
  /*&:hover {*/
  /*  @apply text-gray-800;*/
  /*}*/
  /*&:active {*/
  /*  @apply text-gray-800;*/
  /*}*/
}

.pagy-combo-nav-js .page.prev.disabled,
.pagy-combo-nav-js .page.next.disabled {
  @apply text-gray-400 cursor-default;
}

@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-orange-200;
  }
}

*/


.link {
  @apply font-medium text-orange-600 hover:underline hover:underline-offset-2
}

.btn-sm {
  @apply text-white bg-orange-600 hover:bg-orange-700 focus:ring-4 focus:ring-orange-300 font-medium rounded-lg text-sm px-5 py-2 dark:bg-orange-600 dark:hover:bg-orange-700 focus:outline-none dark:focus:ring-orange-800
}

.btn-primary {
  @apply rounded-lg py-3 px-5 bg-orange-600 text-white inline-block font-medium cursor-pointer
}

.btn-secondary {
  @apply rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium
}

footer a {
  @apply hover:text-footerHover
}

/* signup */
.new_user>label {
  @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white
}

.new_user>div[class^="field"] input {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
}

.new_user>.actions>input[type=submit] {
  @apply btn-primary
}

.new_user {
  @apply w-full px-14 sm:max-w-lg space-y-6
}

.new_user>div[class^="field"]>input[type=checkbox] {
  @apply w-fit
}

footer {
  /*position: absolute;*/
  bottom: 0;
}

.container {
  @apply md:w-3/4 w-full px-6 mx-auto pt-12
}

body {
  font-family: 'Inter', sans-serif;
  @apply antialiased text-gray-900 bg-white dark:bg-gray-900;
}

.glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.bg-navy-900 {
  background-color: #0c1222;
}

.container-home {
  @apply px-6 sm:px-12 mx-auto max-w-7xl pb-12
}

#why_us li {
  @apply lg:grid lg:grid-cols-12 justify-center items-center
}

#why_us li .icon {
  @apply w-20 mx-auto text-white bg-orange-600 rounded-full p-3 mb-6 lg:col-span-2
}

#why_us li p {
  @apply lg:col-span-10
}

#relevant_tenders_form form label {
  @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white
}

#relevant_tenders_form form input {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-500 dark:focus:border-orange-500
}

.force-word-break {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.pricing-card {
  @apply mt-4 w-full col-span-1 flex justify-center
}

.form-label {
  @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white
}

.form-text-input {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
}

.grecaptcha-badge {
  visibility: hidden !important;
}