<p>Hello <%= @resource.email %>!</p>

<p>We have received a request to change your password. To proceed with this request, please use the following link:</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you did not initiate this request, kindly disregard this email. Your current password will remain unchanged unless you access the provided link and create a new one.</p>
