
<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 my-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
<% end %>

<% if flash[:success].present? %>
  <p class="py-2 px-3 bg-green-50 my-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= flash[:success] %></p>
<% end %>

<% if alert.present? %>
  <p class="py-2 px-3 bg-red-50 my-5 text-red-500 font-medium rounded-lg inline-block" id="alert"><%= alert %></p>
<% end %>

<% if flash[:error].present? %>
  <p class="py-2 px-3 bg-red-50 my-5 text-red-500 font-medium rounded-lg inline-block" id="alert"><%= flash[:error] %></p>
<% end %>
